<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="diaryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <diaryApp.Properties.Settings>
            <setting name="diaryproject" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Admin_login_pass" serializeAs="String">
                <value>asdf</value>
            </setting>
            <setting name="Staff_login_pass" serializeAs="String">
                <value>;lkj</value>
            </setting>
            <setting name="saved_memo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="files_names" serializeAs="String">
                <value />
            </setting>
        </diaryApp.Properties.Settings>
    </userSettings>
</configuration>